.app__header{
    background: var(--color-dark-grey);
}

.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-gold);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 117px;
    font-size: 90px;
}

.custom__button:hover{
    background-color: var(--color-light-brown);
    color: var(--color-dark-grey);
    box-shadow: 0 0 12px 0 var(--color-light-green), 0 0 12px 0 var(--color-light-green);
    transition-duration: 0.3s ;
}


@media screen and (min-width:2000px){
    
}

@media screen and (max-width:1280px) {
        .app__header-h1{
        font-family: var(--font-base);
        color: var(--color-gold);
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
        line-height: 60px;
        font-size: 50px;
    }
}

@media screen and (max-width:850px){

}

@media screen and (max-width:650px){
    
}

@media screen and (max-width:450px){

}